<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.mobly.snippet.bundled">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <application>
        <meta-data
            android:name="mobly-snippets"
            android:value="com.google.android.mobly.snippet.bundled.AccountSnippet,
                           com.google.android.mobly.snippet.bundled.AudioSnippet,
                           com.google.android.mobly.snippet.bundled.BluetoothAdapterSnippet,
                           com.google.android.mobly.snippet.bundled.NotificationSnippet,
                           com.google.android.mobly.snippet.bundled.TelephonySnippet,
                           com.google.android.mobly.snippet.bundled.WifiManagerSnippet" />
    </application>

    <instrumentation
        android:name="com.google.android.mobly.snippet.SnippetRunner"
        android:targetPackage="com.google.android.mobly.snippet.bundled" />
</manifest>
