<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.mobly.snippet.bundled">

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application android:allowBackup="false"
                 android:name="androidx.multidex.MultiDexApplication">
        <meta-data
            android:name="mobly-snippets"
            android:value="com.google.android.mobly.snippet.bundled.AccountSnippet,
                           com.google.android.mobly.snippet.bundled.AudioSnippet,
                           com.google.android.mobly.snippet.bundled.bluetooth.BluetoothAdapterSnippet,
                           com.google.android.mobly.snippet.bundled.bluetooth.profiles.BluetoothA2dpSnippet,
                           com.google.android.mobly.snippet.bundled.bluetooth.profiles.BluetoothHearingAidSnippet,
                           com.google.android.mobly.snippet.bundled.BluetoothLeAdvertiserSnippet,
                           com.google.android.mobly.snippet.bundled.BluetoothLeScannerSnippet,
                           com.google.android.mobly.snippet.bundled.LogSnippet,
                           com.google.android.mobly.snippet.bundled.MediaSnippet,
                           com.google.android.mobly.snippet.bundled.NotificationSnippet,
                           com.google.android.mobly.snippet.bundled.TelephonySnippet,
                           com.google.android.mobly.snippet.bundled.NetworkingSnippet,
                           com.google.android.mobly.snippet.bundled.FileSnippet,
                           com.google.android.mobly.snippet.bundled.SmsSnippet,
                           com.google.android.mobly.snippet.bundled.WifiManagerSnippet,
                           com.google.android.mobly.snippet.bundled.StorageSnippet" />
    </application>

    <instrumentation
        android:name="com.google.android.mobly.snippet.SnippetRunner"
        android:targetPackage="com.google.android.mobly.snippet.bundled" />
</manifest>
